In [19]:
import requests
import pandas as pd


season_id = '2022-23'
per_mode = 'PerGame'
p_info_url = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode='+per_mode+'&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season='+season_id+'&SeasonSegment=&SeasonType=Regular%20Season&ShotClockRange=&StarterBench=&TeamID=0&VsConference=&VsDivision=&Weight='

#use this to make sure not a bot
headers  = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
}

response = requests.get(url=p_info_url, headers=headers).json()
p_info = response['resultSets'][0]['rowSet']

# column names from stats.nba.com
columns_list = [
#' season_id', add in for loop later
"PLAYER_ID",
"PLAYER_NAME",
"NICKNAME",
"TEAM_ID",
"TEAM_ABBREVIATION",
"AGE",
"GP",
"W",
"L",
"W_PCT",
"MIN",
"FGM",
"FGA",
"FG_PCT",
"FG3M",
"FG3A",
"FG3_PCT",
"FTM",
"FTA",
"FT_PCT",
"OREB",
"DREB",
"REB",
"AST",
"TOV",
"STL",
"BLK",
"BLKA",
"PF",
"PFD",
"PTS",
"PLUS_MINUS",
"NBA_FANTASY_PTS",
"DD2",
"TD3",
"WNBA_FANTASY_PTS",
"GP_RANK",
"W_RANK",
"L_RANK",
"W_PCT_RANK",
"MIN_RANK",
"FGM_RANK",
"FGA_RANK",
"FG_PCT_RANK",
"FG3M_RANK",
"FG3A_RANK",
"FG3_PCT_RANK",
"FTM_RANK",
"FTA_RANK",
"FT_PCT_RANK",
"OREB_RANK",
"DREB_RANK",
"REB_RANK",
"AST_RANK",
"TOV_RANK",
"STL_RANK",
"BLK_RANK",
"BLKA_RANK",
"PF_RANK",
"PFD_RANK",
"PTS_RANK",
"PLUS_MINUS_RANK",
"NBA_FANTASY_PTS_RANK",
"DD2_RANK",
"TD3_RANK",
"WNBA_FANTASY_PTS_RANK"]


nba_df = pd.DataFrame(p_info, columns = columns_list)
# Select only the columns you want
selected_columns = [
    "PLAYER_NAME",
    "TEAM_ABBREVIATION",
    "AGE",
    "GP",
    "W",
    "L",
    "W_PCT",
    "MIN",
    "FGM",
    "FGA",
    "FG_PCT",
    "FG3M",
    "FG3A",
    "FG3_PCT",
    "FTM",
    "FTA",
    "FT_PCT",
    "OREB",
    "DREB",
    "REB",
    "AST",
    "TOV",
    "STL",
    "BLK",
    "BLKA",
    "PF",
    "PFD",
    "PTS",
    "PLUS_MINUS"
]

# Create a new DataFrame with selected columns
nba_selected_df = nba_df[selected_columns]

# Save the new DataFrame to CSV
nba_selected_df.to_csv('nba_selected_df.csv', index=False)
nba_df.to_csv('nba_all_stats.csv', index=False)
filtered_nba_df = nba_df[nba_df['GP'] >= 41]

# Sort the DataFrame based on the "PTS" column
nba_selected_df_sorted = filtered_nba_df[selected_columns]

# Save the sorted DataFrame to CSV
nba_selected_df_sorted.to_csv('nba_selected_df_filtered.csv', index=False)

In [20]:
df = pd.read_csv('nba_selected_df_sorted.csv')
df.describe()

,AGE,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,...,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS
count,539.000000,539.000000,539.000000,539.000000,539.000000,539.000000,539.000000,539.000000,539.000000,539.000000,...,539.000000,539.000000,539.000000,539.000000,539.000000,539.000000,539.000000,539.000000,539.000000,539.000000
mean,26.150278,48.040816,24.018553,24.022263,0.486477,19.796846,3.348980,7.104824,0.463252,0.990538,...,3.543228,2.068831,1.103711,0.609647,0.382375,0.382375,1.687941,1.597774,9.121336,-0.375139
std,4.323109,24.650686,14.496366,13.445866,0.170049,9.539535,2.436261,4.956886,0.109673,0.872442,...,2.346968,1.932954,0.826909,0.398533,0.384414,0.306262,0.792286,1.421984,6.842216,3.166926
min,19.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-29.000000
25%,23.000000,30.500000,12.000000,14.000000,0.408000,12.450000,1.600000,3.400000,0.416500,0.300000,...,1.800000,0.800000,0.500000,0.300000,0.100000,0.200000,1.200000,0.600000,4.150000,-1.900000
50%,25.000000,54.000000,25.000000,25.000000,0.500000,19.200000,2.700000,5.800000,0.455000,0.800000,...,3.000000,1.400000,0.900000,0.600000,0.300000,0.300000,1.600000,1.200000,7.000000,-0.200000
75%,29.000000,68.000000,36.000000,34.000000,0.585500,28.350000,4.500000,9.450000,0.506000,1.500000,...,4.500000,2.750000,1.500000,0.800000,0.500000,0.500000,2.200000,2.100000,12.100000,1.350000
max,43.000000,83.000000,57.000000,60.000000,1.000000,40.800000,11.200000,22.200000,1.000000,4.900000,...,12.500000,10.700000,4.100000,3.000000,3.000000,1.900000,5.000000,9.000000,33.100000,9.300000